<p id="notice"><%= notice %></p>

<p>Image Id: <%= @image.id %></p>

<%= @image.picture.url(:medium) %>
<%= image_tag @image.picture.url(:medium) %>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
