<h1>Add new recipe</h1>

<%= form_tag({:action => 'create'}, :id => "recipeForm", :multipart => true) do %>

<p><label for = "recipe_name">Name</label>:
<%= text_field 'recipes', 'name', :id => "recipeName_field" %></p>

<p><label for = "recipe_ingredients">Ingredients</label>:
<%= text_field 'recipes', 'ingredients', :id => "recipeIngredients_field" %></p>
<p id="ingredientsNote">* Separate ingredients with a ";"</p>

<p><label for = "recipe_instructions">Instructions</label>:
<%= text_field 'recipes', 'instructions', :id => "recipeInstructions_field" %></p>

<p><label for = "recipe_imageId">Image</label>:
<%= collection_select(:recipes, :imageId, @images, :id, :picture_file_name, prompt: true) %></p>

	
<br />
<%= submit_tag "Create" %>

<% end -%>

<%= link_to 'Back', {:action => 'admin'} %>