
<h1><%= @recipe.name %></h1>

<p>
   <strong>Instructions: </strong> <%= @recipe.instructions %><br />
   <strong>Igredients:</strong> <%= @recipe.ingredients %><br />
   <strong>Made:</strong> <%= @recipe.made %><br />
</p>

<hr />

<%= link_to 'Back', {:action => 'list'} %>